{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">    
    <meta http-equiv="Compatible" content="no-cache"/>
    
    <meta http-equiv="Title" content="트레이너스 밀 Admin"/>
    <meta name="Description" content="트레이너스 밀 Admin"/>
    <meta property="og:image" content="{% static '/images/white_logo.webp' %}">
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- 프로젝트 내의 CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/{{ page }}.css"/>

    <!-- jQuery 라이브러리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- Bootstrap 라이브러리 -->
    <script src="{% static '/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js" integrity="sha256-J8ay84czFazJ9wcTuSDLpPmwpMXOm573OUtZHPQqpEU=" crossorigin="anonymous"></script>

  

    <!-- 프로젝트 내의 라이브러리
    <script type="text/javascript" src="{% static '/js/common.js' %}"></script> -->
    <script type="text/javascript" src="{% static '' %}js/{{ page }}.js"></script>
    
    <title>트레이너스 밀 Admin</title>
</head>
<body>    
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<div class="container w-100 my-3">
    <section class='index'>
        <div class='download_div'>
            <button type='button' class='btn dark_btn download'>주문 리스트 다운로드</button>
        </div>
    </section>
</div>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>